<ion-header>
  <ion-toolbar>
    <ion-title>movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="SearchChanged($event)"></ion-searchbar>

  
  <ion-item>
    <ion-label>Select Search Type</ion-label>
    <ion-select [(ngModel)]="type" (ionChange)="SearchChanged($event)">
      <ion-select-option value=" ">all</ion-select-option>
      <ion-select-option value="movie">movie</ion-select-option>
      <ion-select-option value="series">series</ion-select-option>
      <ion-select-option value="episode">episode</ion-select-option>
    </ion-select>
  </ion-item>




  <ion-list>
    <ion-item button *ngFor="let item of (results | async)" [routerLink]="['/','movies',item.imdbID]">
    <ion-avatar slot="start"><img [src]="item.Poster"></ion-avatar>
    <ion-label text-wrap><h3>{{item.Title}}</h3>{{item.Year}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
